.title {
  text-align: center;
 
  width: fit-content;
  height: fit-content;
  padding: 20px;
  margin: auto;
  }
  
  h2{
   

  width: fit-content;
  height: fit-content;
  }
  
  .contact, .follow, .address{
    color: purple;
      width: 400px;
      height: 300px;
      padding: 10px;
      border: 5px dotted purple;
      margin: 0;
  }
  
  .info{
    color: hotpink;
    width: 400px;
      height: 100px;
      padding: 10px;
      border: 5px dotted hotpink;
      margin: 0;
  }