#title {
text-align: center;
background-color: hotpink;
height: 20%;
width: 100%;
}

.contact, .follow, .address{
  color: purple;
    width: 400px;
    height: 200px;
    padding: 10px;
    border: 5px dotted purple;
    margin: 0;
}
